<div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="card">
    <div class="card-header">
      <h2 id="page-heading">
        <fa-icon icon="building"></fa-icon>
        <span jhiTranslate="ivolunteerManagerApp.institution.home.title">Institutions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-institution"
                [routerLink]="['./new']">
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="ivolunteerManagerApp.institution.home.createLabel">
            Create a new Institution
            </span>
        </button>
      </h2>
    </div>


    <div class="alert alert-warning" id="no-result" *ngIf="institutions?.length === 0">
      <span jhiTranslate="ivolunteerManagerApp.institution.home.notFound">No institutions found</span>
    </div>
    <div class="card-body" *ngIf="institutions && institutions.length > 0">


      <div class="table-responsive" id="entities">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="name"><span
              jhiTranslate="ivolunteerManagerApp.institution.name">Name</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="description"><span
              jhiTranslate="ivolunteerManagerApp.institution.description">Description</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let institution of institutions ;trackBy: trackId">
            <td><a [routerLink]="['./', institution.id, 'view']">{{ institution.id }}</a></td>
            <td>{{ institution.name }}</td>
            <td>{{ institution.description }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit"
                        [routerLink]="['./', institution.id, 'view']"
                        class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button type="submit"
                        [routerLink]="['./', institution.id, 'edit']"
                        class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(institution)"
                        class="btn btn-danger btn-sm">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="institutions && institutions.length > 0">
        <div class="row justify-content-center">
          <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                          [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                          (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
