<div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="card">
    <div class="card-header">
      <h2 id="page-heading">
        <fa-icon icon="book"></fa-icon>
        <span jhiTranslate="ivolunteerManagerApp.competence.home.title">Competences</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competence"
                [routerLink]="['./new']">
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="ivolunteerManagerApp.competence.home.createLabel">
            Create a new Competence
            </span>
        </button>
      </h2>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="competences?.length === 0">
      <span jhiTranslate="ivolunteerManagerApp.competence.home.notFound">No competences found</span>
    </div>
    <div class="card-body" *ngIf="competences && competences.length > 0">


      <div class="table-responsive" id="entities">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="name"><span
              jhiTranslate="ivolunteerManagerApp.competence.name">Name</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="maxLevel"><span
              jhiTranslate="ivolunteerManagerApp.competence.maxLevel">Max Level</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let competence of competences ;trackBy: trackId">
            <td><a [routerLink]="['./', competence.id, 'view']">{{ competence.id }}</a></td>
            <td>{{ competence.name }}</td>
            <td>{{ competence.maxLevel }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit"
                        [routerLink]="['./', competence.id, 'view']"
                        class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button type="submit"
                        [routerLink]="['./', competence.id, 'edit']"
                        class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(competence)"
                        class="btn btn-danger btn-sm">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="competences && competences.length > 0">
        <div class="row justify-content-center">
          <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                          [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                          (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
