<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-activity-heading" jhiTranslate="ivolunteerManagerApp.activity.home.createOrEditLabel">Create or edit a
        activity</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!editForm.get('id')!.value">
          <label for="id" jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ivolunteerManagerApp.activity.name"
                 for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name"
                 formControlName="name"/>
        </div>


        <div class="form-group">
          <label class="form-control-label"
                 jhiTranslate="ivolunteerManagerApp.activity.ruleType"
                 for="field_rule_value_attribute">Rule Attribute</label>
          <div class="input-group">
            <select class="form-control" id="field_rule_value_attribute" name="attributesId"
                    formControlName="attributesId">
              <option [ngValue]="measurement.id"
                      *ngFor="let measurement of findRuleAttributesOfActivity()">{{ measurement.name }}
                ({{measurement.unitName}})
              </option>
            </select>
            <button type="button" id="create-activity-attribute" class="btn btn-primary float-right input-group-append"
                    [routerLink]="['/admin/rule-attribute/new']">
              <fa-icon icon="plus"></fa-icon>
              <span jhiTranslate="ivolunteerManagerApp.ruleAttribute.home.createLabel">
            Create a new Rule Attribute
            </span>
            </button>
          </div>

        </div>


        <!--                <div class="form-group">-->
        <!--                    <label class="form-control-label" jhiTranslate="ivolunteerManagerApp.activity.maxLevel" for="field_maxLevel">Max Level</label>-->
        <!--                    <input type="number" class="form-control" name="maxLevel" id="field_maxLevel"-->
        <!--                           formControlName="maxLevel"/>-->
        <!--                </div>-->
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
