<div [ngSwitch]="isAuthenticated()">
    <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
            <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
                <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.settings">Settings</span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="dropdown-item" routerLink="account/password" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.password">Password</span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="dropdown-item" (click)="logout()" id="logout">
                    <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
            </li>
            <li *ngSwitchCase="false">
                <a class="dropdown-item" (click)="login()" id="login">
                    <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
            </li>
            <li *ngSwitchCase="false">
                <a class="dropdown-item" routerLink="account/register" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.register">Register</span>
                </a>
            </li>
        </ul>
    </li>
</div>
